#root {
	max-width: 600px;
	left: 0;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
	background-image: url('/src/assets/Inventory_tab.png');
	image-rendering: pixelated;
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
	width: 100%;
  height: 100%;
	background-size: 100% 100%;
}

.flexItemSmall {
  flex: 1;
}

.flexItemBig {
  flex: 3;
}

.healthBar {
	max-width: 600px;
	width: 100%;
	height: 2.5em;
	border-radius: 0;
	z-index: 2;
}

h2 {
	margin-top: 24px;
	margin-bottom: 4px;
	z-index: 4;
}

.resetbutton {
  display: inline-block;
  height: 24px;
  width: 24px;
  cursor: pointer;
  user-select: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/src/assets/button.png');
}

.resetbutton:hover{
  background-image: url('/src/assets/buttonpressed.png');
}

.resetbutton:active{
  background-image: url('/src/assets/buttonpressed.png');
}

.deviceBtn {
	z-index: 4;
	display: flex;
	justify-content: center;
	max-width: 600px;
	.logo {
    padding: 25px;
		width: 60%;
		will-change: filter;
		transition: filter 300ms;
		animation: pulse 5s cubic-bezier(0.8, 0.4, 0.4, 0.8) infinite;
	}
}
.deviceBtn:disabled,
.deviceBtn[disabled] {
	cursor: not-allowed !important;
}

@keyframes pulse {
	0%,
	100% {
		filter: drop-shadow(0 0 0 #262fe7aa);
	}
	50% {
		filter: drop-shadow(0 0 4em #0d17d6aa);
	}
}

.deviceBtnShake {
	z-index: 4;
	display: flex;
	justify-content: center;
	max-width: 600px;
	.logo {
    padding: 25px;
		width: 60%;
		will-change: filter;
		transition: filter 300ms;
		animation: shake 0.5s infinite, pulse 5s cubic-bezier(0.8, 0.4, 0.4, 0.8) infinite;
	}
}
.deviceBtnShake:disabled,
.deviceBtnShake[disabled] {
	cursor: not-allowed !important;
}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.hitsplat {
	color: white;
	aspect-ratio: 1 / 1;
	pointer-events: none;
	width: 15%;
	position: absolute;
	z-index: 5;
	image-rendering: pixelated;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	.number {
		user-select: none;
		z-index: 6;
		width: 100%;
		height: 100%;
		position: absolute;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 400%;
		line-height: 1em;
		image-rendering: pixelated;
	}
	.image {
		height: 100%;
		width: 100%;
	}
}

/* background: */
progress::-webkit-progress-bar {
	background-color: red;
	width: 100%;
}
progress {
	background-color: red;
}

/* value: */
progress::-webkit-progress-value {
	background-color: green !important;
}
progress::-moz-progress-bar {
	background-color: green !important;
}
progress {
	color: green;
}

.input {
	margin: 0 auto;
	height: 2em;
	padding: 0;
	width: 8.2em;
	border: 0px solid #646cffaa;
	color: #ffff00;
	font-family: OSRS, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.3em;
	text-align: center;
	margin-bottom: 12px;
	z-index: 4;
}

.info {
	margin-top: 8px;
	min-height: 3em;
	border-radius: 0;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	z-index: 5;
	display: flex;
	flex-direction: column;
	max-width: 600px;
}
